#performances {
	display: none;
}

#segments {
	display: none;
}

#theatre_render {
	display: none;
}

#loading {
	display: block;
}

#target {
	visibility:hidden;
}

#navigation {
	margin: 0.5em;
}

#performances h1 {
	margin: 3em 0 0 0;
	text-align: center;
}

#perfdates {
	margin: 2em 0;
}

.perfdate {
	display: block;
	margin: 0.5em auto;
	width: 18em;
}

.perfdateclosed {
	display: block;
	color: #444;

	margin: 0.5em auto;
	width: 18em;
	cursor: default;
}

.closedmessage {
	color: #fff;
	font-size: 0.75em;
}

.perfseats {
	padding: 0;
	text-align: center;
	font-size: 0.6em;
	color: #fff;
}

#segments h1 {
	margin: 3em 0 0 0;
	text-align: center;
}

#segmentlinks {
	text-align: center;
	margin: 2em 0;
}

.segmentlink {
	display: block;
	font-size: 1.8em;
	margin: 0.5em auto;
	width: 10em;
}

.segmentstage {
	display: block;
	border: 1px solid #444;
	color: #444;

	margin: 0.5em auto;
	width: 9em;
	cursor: default;
}
#theatre_render {
}

#theatre_render h1 {
	margin: 3em 0 0 0;
	text-align: center;
}

.segment {
	display: none;
	font-size: 1em;
	margin: 0 auto;
}

.segmentnavdown {
	position:absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
	background-color: #fff;
}

.segmentnavdown a {
	color: #000;
	text-decoration: none;
	display: block;
}

.segmentnavup {
	width: 100%;
	text-align: center;
	background-color: #fff;
}

.segmentnavup a {
	color: #000;
	text-decoration: none;
	display: block;
}

.seatdiv {
}

.seatname {
	margin: 0px;
	font-size: 0.8em;
	text-align: center;
}

#modifybooking { display: none; }

#topbuttons {
	margin-top: 5em;
}

#adminbuttons {
	text-align: center;
}

.button {
	text-align: center;
	display: inline-block;
	margin: 0 0.5em;
	cursor: pointer;
}

#targetseats {
	text-align: center;
	display: none;
}

.targetseat {
	margin: 0 1em;
	padding: 0.25em;
}

#status {
	font-size: +2em;
	text-align: center;
}

#buttonpanel { display: none; text-align: center; }
#payfortickets {
	font-size: 1.2em;
	margin: 1em 1em 0.5em 1em;
}
#anotherday {
	margin: 1em 1em 0.5em 1em;
	font-size: 1.2em;
}

#bookinginfo { display: none; }
