html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#booktickets {
	margin: 2em;
}


h1 {
	margin: 1em 1em 0.25em 1em;
}

h2 {
	margin: 1em 1.5em 0.25em 1.5em;
}

h3 {
	margin: 1em 2em 0.25em 2em;
}

.bigbutton {
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}

.bigbutton:hover {
	background-color: #333;
}
